	body
	  {background-image:url("background.jpg");
	     background-size:1200px 580px;
	     background-attachment:fixed;}
	
	.bl
{	display: inline-block ;
	margin : 1em 2em ;
	transition: all 0.5s ;

}
                  .heading
{	color: black ;
	-webkit-text-stroke : 1px white ;
	font-family : Impact, Charcoal, sans-serif ;
	margin-top : 4em ;
	transition: all 0.5s ;

}
						
	.heading:hover, .bl:hover
{	transform : scale(1.3) ;
} 

	.marg
{	margin-left : 15em ;
}

	.header
{	background:  linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
	position : fixed ;
	top: 1px;
	width : 100% ;
	z-index : 1 ;
}

	.box
{	border : 2px solid white ;
}

a
{ color: white; 
	font-size: 20px;
	font-style: sans-serif ;
	text-decoration: none;
}